/* Clean purple background */
body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: linear-gradient(
      145deg,
      #0ab04c 0%,
      #0ab04c 12%,
      #35c46a 18%,
      #0ab04c 28%,
      #079d44 40%,
      #00773d 55%,
      #005c80 70%,
      #004b93 100%
  );

  background-attachment: fixed;
}



/* Optional: center content & add spacing */
.App {
  padding: 20px;
  text-align: center;
}

/* Optional: make buttons/boxes stand out */
button {
  border: none;
}
